{% extends "otree/WaitPage.html" %}

{% block title %}
    Please wait for your newly assigned match to arrive
{% endblock %}
{% block content %}

    <p>
         You are now paired with a newly assigned match, you will be communicating with each other through a chat box. The whole conversation is private and anonymous between you to discuss what amount to submit. You have one minute to talk to each other. When timer ends, you will automatically move to decision page.
    </p>



{% endblock %}